@model CoreLibraryProj.Rubric

@{
    ViewData["Title"] = "Видалення";
}
@await Html.PartialAsync("Sidebar")
@await Html.PartialAsync("HeaderItems")


<h1 style="">Видалення</h1>
<h3>Ви впевнені, що бажаєте видалити цю рубрику?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RubricName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RubricName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися до переліку рубрик</a>
    </form>
</div>
