@model IEnumerable<CoreLibraryProj.Rubric>

@{
    ViewData["Title"] = "Перелік рубрик";
}

<style>
   
</style>

@await Html.PartialAsync("Sidebar")
@await Html.PartialAsync("HeaderItems")

<h1 style="">Рубрики</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RubricName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RubricName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <h3>Оберіть excel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Rubrics", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input class="btn-primary" type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input class="btn btn-primary" type="submit" value="Завантажити на сайт" />
            </div>
        </div>
    }
</div>


<div style="margin-top:20px;">
    <h3>Завантаження інформації щодо розподілу документів за рубриками в файл </h3>
    <a asp-action="Export" class="btn btn-primary" > Завантажити з сайту </a>
</div>




